
    body{
        margin:0;
        
        
    
    }
    #image_main_div{
        width: 60%;
        background-color: #1a202c;
        margin-left: 152px;
        
    }
    .img-cloud1{
        width:90%;
        margin: left -5px;

    }
    #thankyou{
        margin-top: 20px;
        margin-left: 150px;
        

    }
    #orderconfirm
    {
        margin-top: 100px;
        margin-left: 10px;
    }
    #dispatch
    {
    
       margin-top:50px ;
       margin-left:10px;
    }
    .divTable
    {
        display:  table;
        width:auto;
        background-color:white;
        border:1px solid  black;
        border-spacing:15px;
    }

    .divRow
    {
       display:table-row;
       width:auto;
       border:1px solid  black;
    }

    .divCell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:200px;
        border: 5px solid black;
        border-collapse: collapse;
          

    }
    #tablediv{
        margin-top: 10px;
    }
    #shipping{
        margin-top: 50px;
    }
    .supportmain{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    #footer{
        text-align: center;
        
    
    }
    .footer_icons{
        margin: 20px 10px;
    }
    hr{
        margin-top: 30px;
        margin-bottom: 30px;
    }


    /* .divTable
    {
        display:  table;
        width:auto;
        background-color:white;
        border:1px solid  black;
        border-spacing:15px;
    }

    .divRow
    {
       display:table-row;
       width:auto;
       border:1px solid  black;
    }

    .divCell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:200px;
        border: 1px solid black;
        border-collapse: collapse; */


    /* } */


    <!-- </tr>
    <tr>
        <td>SL</td>
        <td>Items</td>
        <td>Due DT</td>
        <td>Qty</td>
        <td>Rate</td>
        <td>Per</td>
        <td>Dis%</td>
        <td>Amt</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
